@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import './assets.css';
@import './layout.css';
@import './bomba.css';
@import './estilo.css';
@import './explosaoBomba.css';
@import './explosaoPlayer.css';
@import './player.css';
@import './form.css';
@import './texto.css';     

* {
    color: aliceblue;
    font-size: 1em;
    padding: 0em;
    margin: 0px;
    font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 0.04em;
    -webkit-text-stroke-color: #000;
}

body {
    background-color: rgb(0, 0, 4);
    cursor: crosshair;
}