.explodiu-bomba-0{
    position: absolute;
    background-image: url(img/explosao.png);
    background-position: -50px -363px;
    width: 23px;
    height: 40px;
    background-size: 440px;
}

.explodiu-bomba-1{
    position: absolute;
    background-image: url(img/explosao.png);
    background-position: -81px -363px;
    width: 23px;
    height: 40px;
    background-size: 440px;
}

.explodiu-bomba-2{
    position: absolute;
    background-image: url(img/explosao.png);
    background-position: -114px -363px;
    width: 23px;
    height: 40px;
    background-size: 440px;
}